<script type="text/javascript">
var delete_field = function () {
    var that = $(this);
    that.parent('.can-delete').remove();
};

var add_field = function (name) {
    $('#fields').append($('<div class="can-delete" />')
        .append($('<label for="'+name+'">'+name+'</label>'))
        .append($('<input type="text" name="'+name+'" />'))
        .append($('<span class="delete-text">[delete]</span>')
            .click(delete_field)));
}

$(document).ready( function () {
    $('#add_field_btn').click(function () {
        var val = $('#field-name').attr('value');
        if (val) {
            add_field(val);
        } else {
            alert('hey seriously... I need a name.');
        }
    });
});
</script>

<div id="add-field">
  <input type="text" id="field-name" name="field-name" />
  <input type="button" id="add_field_btn" name="add_field" value="add" />
</div>
<div id="theforms">
  <form action="/" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_new" value="True" />
    <!-- doing three uploads -->
    <input type="file" name="_lockerfile[]" />
    <input type="file" name="_lockerfile[]" />
    <input type="file" name="_lockerfile[]" />
    <div id="fields"></div>
    <input type="submit" value="submit" name="_submit" />
  </form>
</div>

<div id="simpleform">
<h1>Simple Form</h1>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_new" value="True" />
  <input type="file" name="_lockerfile" />
  <input type="submit" value="submit" name="_submit" />
</form>
</div>

