<div id="theforms">
  <form action="/" method="POST" enctype="multipart/form-data">
    <p> This allows to upload to / multiple files with the _new param. In gryphon mobile admin we use Prefix and Survey name filled with the current survey when we upload the file. </p>
    <input type="hidden" name="_new" value="True" />

    <label for="_prefix">Prefix (Survey Name):</label> <input name="_prefix" />
    <label for="_prefix">Survey Name:</label> <input name="surveyName" />
    <label for="_prefix">Username:</label> <input name="userName" />

    <!-- doing three uploads -->
    <input type="file" name="_lockerfile[]" />
    <input type="file" name="_lockerfile[]" />
    <input type="file" name="_lockerfile[]" />
    <div id="fields"></div>
    <input type="submit" value="submit" name="_submit" />
  </form>
</div>

<div id="simpleform">
<h1>Simple Form</h1>
<form action="/" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="_new" value="True" />
  <label for="_prefix">Prefix (Survey Name):</label> <input name="_prefix" />
  <label for="_prefix">Survey Name:</label> <input name="surveyName" />
  <label for="_prefix">Username:</label> <input name="userName" />
  <input type="file" name="_lockerfile" />
  <input type="submit" value="submit" name="_submit" />
</form>
</div>

